# Lines that start with '#' are comments.
# IntelliJ IDEA Project files
.idea
*.iml
*.ipr
*.iws

# Eclipse Project files
.classpath
.project
.settings/

bin/
gen/
local.properties

.DS_Store
Thumbs.db
/taotao/taotao-manager/taotao-rest/target/classes

target/

/taotao/taotao-manager/taotao-manager-web/target/tomcat/conf


